.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;

  padding: 10px;
}

.content mat-card{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.content mat-card img {
  height: 200px;
  width: auto;
}

.content mat-card-header {
  width: 100%;
  align-items: flex-start;
}

.preloader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 250px;
}
