<div class="content">
  <div *ngIf="preloader" class="preloader"><mat-spinner></mat-spinner></div>
  <mat-card *ngFor="let product of products">
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>
      <mat-card-subtitle>{{product.price | number : '1.2-2'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{product.image}}" alt="{{product.name}}">
    <mat-card-content>
      <p>{{product.description}}</p>
      <div><b>R$ {{product.price | number : '1.2-2'}}</b></div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="buyItem(product.id)">Comprar</button>
      <button mat-button (click)="addToCart(product.id)">Adicionar ao carrinho</button>
    </mat-card-actions>
  </mat-card>
</div>
