
<mat-card>
  <div class="login-header">Login</div>
  <form id="loginForm" class="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" fxLayoutAlign="stretch" fxLayout="column" class="login-form" novalidate>

    <mat-form-field appearance="outline">
      <mat-label>Nome de usuário</mat-label>
      <input matInput ngModel name="username" autocomplete="off" >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput type="password" ngModel name="password" autocomplete="off">
    </mat-form-field>

    <button mat-flat-button color="primary">Entrar</button>
  </form>
  <div class="login-footer">
    <a mat-button routerLink="/register">Cadastre-se</a>
  </div>
</mat-card>
