<div class="content">
  <div *ngIf="preloader" class="preloader"><mat-spinner></mat-spinner></div>
  <table *ngIf="products.length > 0" mat-table [dataSource]="products" class="mat-elevation-z8">

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef> Produto </th>
      <td mat-cell class="product-cell" *matCellDef="let element">
        <div class="image-container"><img src="{{element.image}}" /></div>
        <div>{{element.product}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell class="align-right-cell" *matHeaderCellDef> Quantidade </th>
      <td mat-cell class="align-right-cell" *matCellDef="let element">
        <input matInput class="align-right-cell" min="1" step="1" (ngModelChange)="onChangeAmount($event, element.id)" [(ngModel)]="element.amount" type="number" >
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell class="align-right-cell" *matHeaderCellDef> Preço </th>
      <td mat-cell class="align-right-cell" *matCellDef="let element"> {{element.price | number : '1.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell class="align-right-cell" *matHeaderCellDef> Total </th>
      <td mat-cell class="align-right-cell" *matCellDef="let element"> {{element.price * element.amount | number : '1.2-2'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>

  </table>

  <div *ngIf="products.length > 0; else emptyCart" class="final-shop">
    <div class="final-price"><b>Total:</b> R$ {{totalValue | number : '1.2-2'}}</div>
    <button mat-flat-button color="primary" (click)="checkout()">Finalizar pedido</button>
  </div>
  <ng-template #emptyCart>
    <div class="empty-cart-container">
      <div class="empty-cart">
        Seu carrinho de compras está vazio!
      </div>
      <button mat-flat-button color="primary" routerLink="/dashboard/produtos">Lista de produtos</button>
    </div>
  </ng-template>
</div>

<!--    -->
