<mat-card>
  <div *ngIf="preloader" class="preloader"><mat-spinner></mat-spinner></div>
  <div class="login-header">Cadastre-se</div>
  <form id="loginForm" class="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" fxLayoutAlign="stretch" fxLayout="column" class="login-form" novalidate>

    <mat-form-field appearance="outline">
      <mat-label>Nome completo</mat-label>
      <input matInput ngModel name="name" autocomplete="off" >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nome de usuário</mat-label>
      <input matInput ngModel name="username" autocomplete="off" >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha de acesso</mat-label>
      <input matInput type="password" ngModel name="password" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirme sua senha</mat-label>
      <input matInput type="password" ngModel name="password_confirmation" autocomplete="off">
    </mat-form-field>

    <button mat-flat-button color="primary">Cadastrar</button>
  </form>
  <div class="login-footer">
    <a mat-button routerLink="/login">Voltar</a>
  </div>
</mat-card>
